.content{
    height: 300px;
    width: 300px;
    background-color: rgb(200, 232, 19);
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 202px  592px;
    
}
button{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
#reset:hover{
    background-color: rgb(119, 0, 255);
}
#add:hover{
    background-color: rgb(8, 240, 70);
}
#sub:hover{
    background-color: red;
}
h1{
    font-size: 50px;
}
body{
    animation: pulse 5s infinite;
}
@keyframes pulse {
    0% {
      background-color: #001F3F;
    }
    100% {
      background-color: #FF4136;
    }
  }